[Unit]
Description=Echo Service

[Service]
ExecStart=/home/jtrindade/isel/tvs/tvs-2526-1-leic53d/10-systemd/02-echod/echod /run/isel/echo-socket
Restart=always
User=jtrindade
Group=jtrindade

