[Unit]
Description=A useless service, for demo purposes.

[Service]
ExecStart=/home/jtrindade/isel/tvs/tvs-2526-1-leic53d/10-systemd/01-service/useless.sh
Restart=always
User=jtrindade
Group=jtrindade
